#jinja2: trim_blocks: True, lstrip_blocks: True

[req]
default_bits = 4096
prompt = no
default_md = sha512
req_extensions = req_ext
distinguished_name = dn

[ dn ]
C  = {{ snakeoil_dn.country | default('DE') }}
ST = {{ snakeoil_dn.state | default('Hamburg') }}
L  = {{ snakeoil_dn.location | default('Hamburg') }}
O  = {{ snakeoil_dn.organisation | default('ACME Inc.') }}
OU = Testing Domain
CN = *.{{ snakeoil_domain }}
emailAddress = {{ snakeoil_email }}

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
{% for n in snakeoil_alt_names %}
  {% if n.dns is defined %}
    {% for k in n.dns %}
DNS.{{ "%-3s" | format(loop.index) }} = {{ k }}
    {% endfor %}
  {% endif %}
  {% if n.ip is defined %}
    {% for k in n.ip %}
IP.{{ "%-4s" | format(loop.index) }} = {{ k }}
    {% endfor %}
  {% endif %}
{% endfor %}
