
[req]
default_bits = 4096
prompt = no
default_md = sha512
req_extensions = req_ext
distinguished_name = dn

[ dn ]
C  = DE
ST = Hamburg
L  = Hamburg
O  = Acme, Inc
OU = Testing Domain
CN = *.cm.local
emailAddress = cert@cm.local

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
{% for n in snakeoil_alt_names -%}
{% if n.dns is defined -%}
{% for k in n.dns -%}
DNS.{{ "%-3s" | format(loop.index) }} = {{ k }}
{% endfor -%}
{% endif %}
{% if n.ip is defined -%}
{% for k in n.ip -%}
IP.{{ "%-4s" | format(loop.index) }} = {{ k }}
{% endfor -%}
{% endif %}
{% endfor -%}
